/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Caladea */
@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Nimbus Mono */
@font-face {
    font-family: "Nimbus Mono";
    font-weight: 400;
    src: url(NimbusMono-Bold.ttf) format("truetype"),
        url(NimbusMono-Bold.woff2) format("woff2");
}